// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 768 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
p.description	{
	font-size:160%;
	}
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
.portrait {
	margin:0 0 0 12.5%;
	float:left;
	max-width: 55%;
	}
#freelanceteam_description	{
	max-width: 32.5%;
	}
.circleholder	{
	margin-right:12.5%;
	}
.up	{
	margin-left:12.5%;
	}
nav#nav_top ul {
  margin:0 12.5% 0 0;
}
nav#nav_bottom	{
	position:absolute;
	right:12.5%;
	top:@heightNavigationTop;
}
.floatme	{
	max-width:23%;
	margin-left:12.5%;
	margin-right:1.5%;
	float:left;
	}
.standardbox1	{
	max-width:23%;
	margin-left:1.5%;
	margin-right:1.5%;
	float:left;
	}
.standardbox2	{
	max-width:23%;
	margin-left:1.5%;
	margin-right:12.5%;
	float:left;
	}
.distancewrapper	{
	margin:0 12.5%;
	}
#two_boxes	{
.box-sizing(border-box);
	margin-right:12.5%;
	margin-left:1.5%;	
	max-width:49%;
	float:right;
}
.textbox1	{
	.box-sizing(border-box);
	max-width:47%;
	padding-left:0%;
	padding-right:0%;
	margin-right:3%;
	float:left;
	}
.textbox2	{
	.box-sizing(border-box);
	max-width:47%;
	margin-left:3%;
	padding-left:0%;
	padding-right:0%;
	float:left;
	}
.textbox3	{
	.box-sizing(border-box);
	max-width:23%;
	margin-left:12.5%;
	margin-right:1.5%;
	float:left;
	}
.ueberunsbox1	{
	width:23%;
	float:left;
	margin:0 3% 0 12.5%;
	}
.ueberunsbox2	{
	width:23%;
	float:left;
	margin:0 3% 0 0;
	}
.ueberunsbox3	{
	width:23%;
	float:left;
	margin:0 12.5% 0 0;
	}
.preisbox1,.preisbox4	{
	width:23%;
	float:left;
	margin:0 3% 0 12.5%;
	}
.preisbox2,.preisbox5	{
	width:23%;
	float:left;
	margin:0 3% 0 0;
	}
.preisbox3,.preisbox6	{
	width:23%;
	float:left;
	margin:0 12.5% 0 0;
	}
.kontaktbox1	{
	width:23%;
	float:left;
	margin:0 3% 0 12.5%;
	}
.kontaktbox2	{
	width:49%;
	float:left;
	margin:0 12.5% 0 0;
	}
.impressumbox1 {
	margin:0 0 0 12.5%;
}
.impressumbox2 {
	margin:0 3% 0 12.5%;
	float:left;
	width:23%;
	max-width:23%;
}
 .impressumbox3	{
	margin:0 3% 0 0;
	float:left;
	width:23%;
	max-width:23%;
	}
 .impressumbox4	{
	margin:0 12.5% 0 0;
	float:left;
	width:23%;
	max-width:23%;
	}
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================

