// ==========================================================

// 320 and Up by Andy Clarke
// Version: 3.0
// URL: http://stuffandnonsense.co.uk/projects/320andup/
// Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

// ==========================================================

/* 992 =================================================== */

// 1. ROOT 					==============================
// 2. TYPOGRAPHY 			==============================
p, li	{
	.font-size(18);
	}
h4, h5	{
	.font-size(20);
	}

h1,h2	{
	margin-bottom : @baselineheight / 2;
	.font-size(22);
	line-height : 1.2;
	}
h3	{ 
	margin-bottom : @baselineheight / 2;
	.font-size(20);
	line-height : 1.2; }
nav#nav_bottom ul li a, nav#nav_top ul li a {
  height: @heightNavigationBottom * 130/110; // Änderung font-size von 110% auf 130 % umgesetzt
  line-height: @heightNavigationBottom * 130 / 110;
  font-size: 130%;
}
nav#nav_top, nav#nav_bottom  {
  height: @heightNavigationTop * 130 / 110;
}
nav#nav_bottom	{
	position:absolute;
	top:@heightNavigationTop * 130 / 110;  // Position absolut in Abhängigkeit der Veränderung font-size anpassen
	}
p.blue	{
	color:@darkBlue;
	margin:0.8em 0;
	font-size:140%;
	}
p.yellow	{
	color:@darkYellow;
	font-size:140%;
	}
p.schoko {
	font-size:180%;
	}
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
.portrait {
	margin:0 3% 0 0;
	float:left;
	max-width: 50%;
	}
#freelanceteam_description	{
	max-width: 47%;
	}
nav#nav_top ul {
  margin:0 2.5% 0 0;
}
nav#nav_bottom	{
	right:2.5%;
}
.circleholder	{
	margin-right:2.5%;
	}
.up	{
	margin-left:2.5%;
	}
.floatme	{
	max-width:46%;
	margin-left:2.5%;
	margin-right:1.25%;
	float:left;
	}
#standardbox1	{
	max-width:22%;
	margin-left:1.25%;
	margin-right:1.25%;
	float:left;
	}
#standardbox2	{
	max-width:22%;
	margin-left:1.25%;
	margin-right:2.5%;
	float:left;
	}
.distancewrapper	{
	margin:0 2.5%;
	}
#two_boxes	{
.box-sizing(border-box);
	margin:2.5% 2.5% 2.5% 1.25%;
	max-width:46.25%;
	float:right;
}
#textbox3	{
	.box-sizing(border-box);
	max-width:46.25%;
	margin:2.5% 1.25% 2.5% 2.5%;
	float:left;
	}

.ueberunsbox1	{
	width:46.25%;
	margin:0 0 0 2.5%;
	float:left;
	}
.ueberunsbox2	{
	width:46.25%;
	clear:both;
	margin:0 1.25% 0 2.5%;
	}
.ueberunsbox3	{
	width:46.25%;
	float:left;
	margin:0 2.5% 0 1.25%;
	}
.preisbox1	{
	width:46.25%;
	float:left;
	margin:0 0 0 2.5%;
	}
.preisbox2	{
	width:46.25%;
	clear:both;
	margin:0 1.25% 0 2.5%;
	}
.preisbox3	{
	width:46.25%;
	float:left;
	margin:0 2.5% 0 1.25%;
	}
.preisbox4	{
	width:95%;
	clear:both;
	margin:0 2.5% 0 2.5%;
	}
.kontaktbox1	{
	width:46.25%;
	float:left;
	margin:0 1.25% 0 2.5%;
	}
.kontaktbox2	{
	width:46.25%;
	float:left;
	margin:0 2.5% 0 1.25%;
	}
.impressumbox1 {
	margin:0 0 0 2.5%;
}
.impressumbox2 {
	margin:0 1.25% 0 2.5%;
	float:left;
	width:46%;
	max-width:46%;
}
.impressumbox3	{
	margin:0 1.25% 0 2.5%;
	float:left;
	width:46%;
	max-width:46%;
	}
.impressumbox4	{
	margin:0 1.25% 0 2.5%;
	width:46%;
	max-width:46%;
	}
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================
